body{
background-color: #ffe8d6
}

hr{
border-style: none;
border-top-style:dotted;
border-color: black;
border-width: 5px;
width: 5%;

}
img{
  width: 200px;
  height: 200px;

}
h1{
  color: #b7b7a4
}
h3{

    color: #582f0e
}

p,table,li{
  color: #6b705c;
}
